// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.report-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.report-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.top-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.text-white {
  color: #ffffff;
}

#products table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 15px 10px;
  width: auto;
}

#products th, #products td {
  padding: 10px;
}
