<%= form_with(model: @report, local: true) do |form| %>
  <div class="py-5">
    <h1>Importar arquivo XML</h1>

    <div class="form-group">
      <strong><%= form.label :xml_file, 'Escolha um arquivo XML para upload:' %></strong>
      <%= form.file_field :xml_file %>
    </div>
    <div class="actions">
      <%= form.submit "Importar XML", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
